version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  discovery:
    build: ./discovery-server
    ports:
      - "8761:8761"


  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    depends_on:
      - redis
      - discovery
    environment:
      SPRING_PROFILES_ACTIVE: docker

  workout-service:
    build: ./workout-service
    ports:
      - "8082:8082"
    depends_on:
      - discovery
    environment:
      SPRING_PROFILES_ACTIVE: docker

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery
      - user-service
      - workout-service
    environment:
      SPRING_PROFILES_ACTIVE: docker