server:
  port: 8080
spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      server:
        webmvc:
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/v1/auth/**, /api/v1/users/**
            - id: workout-service
              uri: lb://workout-service
              predicates:
                - Path=/api/v1/workouts/**, /api/v1/exercises/**
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
secret:
  key: qK4dYg5j0nH+ZC3X9tqkPj8uQmE2rA7VbIwTzUuO1Hc=