server:
  port: 0
spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
